# Python Virtual Environment
.venv/
venv/
env/

# Databases
*.sqlite*
*.db
backup.sql

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Node (if accidentally added)
node_modules/
package-lock.json



# Cached files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python



# Docker volumes data
*.log
